<h1>Editing access right</h1>

<%= render "form", access_right: @access_right %>

<br>

<div>
  <%= link_to "Show this access right", @access_right %> |
  <%= link_to "Back to access rights", access_rights_path %>
</div>
