<p style="color: green"><%= notice %></p>

<h1>Access rights</h1>

<div id="access_rights">
  <% @access_rights.each do |access_right| %>
    <%= render access_right %>
    <p>
      <%= link_to "Show this access right", access_right %>
    </p>
  <% end %>
</div>

<%= link_to "New access right", new_access_right_path %>
