<p style="color: green"><%= notice %></p>

<h1>Doors</h1>

<div id="doors">
  <% @doors.each do |door| %>
    <%= render door %>
    <p>
      <%= link_to "Show this door", door %>
    </p>
  <% end %>
</div>

<%= link_to "New door", new_door_path %>
